@model OrchardCore.Trees.ViewModels.EmailPartViewModel
@using OrchardCore.Trees.ViewModels

    <div class="row">
        <p class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 container-fluid">@Model.Email </p>
    </div>