@using OrchardCore.ContentManagement.Display
@using OrchardCore.DisplayManagement.ModelBinding

@inject IContentItemDisplayManager DisplayManager
@inject IUpdateModelAccessor UpdateModelAccessor

@model OrchardCore.Trees.ViewModels.TreesListViewModel

@if (Model.ContentItems == null || !Model.ContentItems.Any())
{
    return;
}

<ul class="list-group">
    @foreach (var tree in Model.ContentItems)
    {
        var shape = await DisplayManager.BuildDisplayAsync(tree, UpdateModelAccessor.ModelUpdater);
        <li class="list-group-item">
            @await DisplayAsync(shape)
        </li>
    }
</ul>


<style Scoped>

</style>

@* Defult VIEW is Detail only use summary if you want the query to get only items in the TreePartIndex "Summary" *@